<footer class="page-footer grey lighten-2" id="pagepanel4">
    <div class="footer-copyright">
        <div class="container center-align grey-text text-darken-1">&copy; 2020 Dasboard, All rights reserved.</div>
    </div>
</footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){

      $('.sidenav').sidenav();
      $('.materialboxed').materialbox();
      $('.parallax').parallax();
      $('.tabs').tabs();
      $('.modal').modal();

    });
  </script>

</body>
</html>