<html lang="en">
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <style>
    @import url(https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,600);
  </style>
  <title>Dashboard</title>
  <link rel="icon" href="/icon.png" type="image/x-icon">
</head>
<body style="font-family: 'Muli', sans-serif;">
  <header>
    <nav style="background-color: #5c007a;">
      <div class="nav-wrapper">
        <div class="container">
          <a class="brand-logo darken-1" href="/">
            <img class="hide-on-med-and-down" src="/logo.png" alt="materialize logo" style="width: 50px; height: 30px;">
            <span class="logo-text hide-on-med-and-down">Dashboard</span>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/users/login">Log in</a></li>
              <li><a href="/users/signup" class="btn" style="font-weight: bold; background: linear-gradient(45deg,#303f9f,#7b1fa2)">Sign up</a></li>
              <li style="background: rgb(66,133,244);background: linear-gradient(90deg, rgba(66,133,244,1) 0%, rgba(219,68,55,1) 35%, rgba(244,180,0,1) 100%);"><a href="/auth/google"><i class="fa fa-google">oogle</i></a></li>
          </ul>
        </div>
      </div>
    </nav>