<%- include('partials/header'); -%>


<section style="background-image: url('/home.png'); min-height: 1000px;">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3" style="margin-top: 150px;">
        <div class="card">
          <div class="card-content">
              <div class="row">
                <div class="col s12 center-align" style="margin-bottom: 50px;">
                  <img src="/card-.png" alt="" width="200px" height="175px">
                </div>
                <span class="card-title center-align" style="color: #8e24aa;">Welcome to Dashboard</span>
              </div>
              <div class="row">
                <p class="center-align">On your dashboard you can add one of the available services. But before that be sure to register. Thank you!!</p>
                <p class="center-align" style="color: transparent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <p class="center-align" style="color: transparent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
          </div>
          <div class="card-action" style="display: flex;align-items: center;justify-content: center; background-color: #dcb8d7;">
            <a href="/users/signup" class="btn waves-effect waves-light white-text" style="font-weight: bold; background: linear-gradient(45deg,#303f9f,#7b1fa2)">Get Started</a>
        </div>
      </div>
    </div>
    </div>
  </div>    
</section>


<%- include('partials/footer'); -%>